##============================================================================
##  The contents of this file are covered by the Viskores license. See
##  LICENSE.txt for details.
##
##  By contributing to this file, all contributors agree to the Developer
##  Certificate of Origin Version 1.1 (DCO 1.1) as stated in DCO.txt.
##============================================================================

# Python packages used for Python bindings. Install with
#
# ```sh
# pip install -r requirements.txt
# ```

# Dependencies also listed in pyproject.toml must use the same version
# constraint. Check them with Utilities/Scripts/check-python-dependencies.py.

# ----------------------------------------------------------------------
# Used for Python bindings (Viskores_ENABLE_PYTHON_BINDINGS).
-r python_bindings/requirements.txt

# ----------------------------------------------------------------------
# Used to verify generated code.
pyexpander

# ----------------------------------------------------------------------
# Used for replicating CI with docker (Utilities/CI/reproduce_ci_env.py).
-r Utilities/CI/requirements.txt

# ----------------------------------------------------------------------
# Used for building the user's guide.
-r docs/users-guide/requirements.txt
