##=============================================================================
##
##  The contents of this file are covered by the Viskores license. See
##  LICENSE.txt for details.
##
##  By contributing to this file, all contributors agree to the Developer
##  Certificate of Origin Version 1.1 (DCO 1.1) as stated in DCO.txt.
##
##=============================================================================

include pyproject.toml
include setup.py
include version.txt
include viskores_python_bindings.cxx
recursive-include viskores *.py
recursive-include src *.cxx *.h *.inl
recursive-include examples *.py
recursive-include testing *.py
include wheel/CMakeLists.txt
