##============================================================================
##  The contents of this file are covered by the Viskores license. See
##  LICENSE.txt for details.
##
##  By contributing to this file, all contributors agree to the Developer
##  Certificate of Origin Version 1.1 (DCO 1.1) as stated in DCO.txt.
##============================================================================

# This captures the top-level dependencies of Python packages used to build all
# the Python packages needed to build the user's guide. The pip-compile utility
# provided by the pip-tools package is used to generate the full list of
# dependencies.
#
# pip install pip-tools
# pip-compile requirements.in
#
# The resulting requirements are copied to the requirements-doc.txt file in the
# root directory of this repository.

breathe==4.36.0
Sphinx==7.3.7
sphinx-rtd-theme==3.1.0
sphinxcontrib-moderncmakedomain==3.29.0
sphinxcontrib-packages==1.2.1
readthedocs-sphinx-search==0.3.2
