##============================================================================
##  The contents of this file are covered by the Viskores license. See
##  LICENSE.txt for details.
##
##  By contributing to this file, all contributors agree to the Developer
##  Certificate of Origin Version 1.1 (DCO 1.1) as stated in DCO.txt.
##============================================================================
alabaster==0.7.16
    # via sphinx
babel==2.18.0
    # via sphinx
breathe==4.36.0
    # via -r requirements.in
certifi==2026.7.22
    # via requests
charset-normalizer==3.4.9
    # via requests
distro==1.9.0
    # via sphinxcontrib-packages
docutils==0.22.4
    # via
    #   sphinx
    #   sphinx-rtd-theme
idna==3.18
    # via requests
imagesize==2.0.0
    # via sphinx
jinja2==3.1.6
    # via sphinx
markupsafe==3.0.3
    # via jinja2
packaging==26.3
    # via sphinx
pygments==2.20.0
    # via sphinx
readthedocs-sphinx-search==0.3.2
    # via -r requirements.in
requests==2.34.2
    # via sphinx
roman-numerals==4.1.0
    # via sphinx
snowballstemmer==3.1.1
    # via sphinx
sphinx==9.1.0
    # via
    #   -r requirements.in
    #   breathe
    #   sphinx-rtd-theme
    #   sphinxcontrib-jquery
    #   sphinxcontrib-moderncmakedomain
    #   sphinxcontrib-packages
sphinx-rtd-theme==3.1.0
    # via -r requirements.in
sphinxcontrib-applehelp==2.0.0
    # via sphinx
sphinxcontrib-devhelp==2.0.0
    # via sphinx
sphinxcontrib-htmlhelp==2.1.0
    # via sphinx
sphinxcontrib-jquery==4.1
    # via sphinx-rtd-theme
sphinxcontrib-jsmath==1.0.1
    # via sphinx
sphinxcontrib-moderncmakedomain==3.29.0
    # via -r requirements.in
sphinxcontrib-packages==1.2.1
    # via -r requirements.in
sphinxcontrib-qthelp==2.0.0
    # via sphinx
sphinxcontrib-serializinghtml==2.0.0
    # via sphinx
urllib3==2.7.0
    # via requests
